name: CI

# Enable Buildkit and let compose use it to speed up image building
env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

on:
  pull_request:
    branches: ["main", "develop"]

  push:
    branches: ["main", "develop"]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pytest:
    runs-on: ubuntu-latest
    environment: Local
    steps:
      - name: Create app/.envs/.local/.app & app/.envs/.local/.postgres
        run: |
          echo "DJANGO_SECRET_KEY=${{ secrets.DJANGO_SECRET_KEY }}" >> app/.envs/.local/.app
          echo "USE_DOCKER=${{ secrets.USE_DOCKER }}" >> app/.envs/.local/.app
          echo "POSTGRES_HOST=${{ secrets.POSTGRES_HOST }}" >> app/.envs/.local/.postgres
          echo "POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}" >> app/.envs/.local/.postgres
          echo "POSTGRES_DB=${{ secrets.POSTGRES_DB }}" >> app/.envs/.local/.postgres
          echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> app/.envs/.local/.postgres
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> app/.envs/.local/.postgres

      - name: Checkout Code Repository
        uses: actions/checkout@v3

      - name: Build the Stack
        run: docker-compose -f local.yml build

      - name: Run DB Migrations
        run: docker-compose -f local.yml run --rm django python manage.py migrate

      - name: Run Django Tests
        run: docker-compose -f local.yml run django pytest

      - name: Tear down the Stack
        run: docker-compose -f local.yml down
